/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #245f87;
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #fbfcfd;
    --global-surface-color              : #f4f7f9;
    --global-footer-bg-color            : #f1f4f6;
    --global-border-color               : #d8e0e6;
    --global-dark-border-color          : #b7c3cc;
    --global-code-background-color      : #f2f5f7;
    --global-code-text-color            : #263746;
    --global-fig-caption-color          : #61717d;
    --global-link-color                 : #245f87;
    --global-link-color-hover           : #174664;
    --global-link-color-visited         : #526b80;
    --global-masthead-link-color        : #33434d;
    --global-masthead-link-color-hover  : #245f87;
    --global-text-color                 : #2f3d46;
    --global-text-color-light           : #647580;
    --global-thead-color                : #edf2f5;
}
