{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="cv-talk-item" itemscope itemtype="http://schema.org/CreativeWork">
  <article class="cv-talk-entry">
    <h3 class="cv-talk-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
        <a href="{{ post.url | relative_url }}" rel="permalink" class="cv-talk-permalink">
          <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
          <span class="sr-only">Permalink</span>
        </a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.date %}
      <p class="cv-talk-meta">{{ post.date | date: "%B %d, %Y" }}</p>
    {% endif %}
    {% if post.venue %}
      <p class="cv-talk-details" itemprop="description">
        {{ post.type }} at {{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}
      </p>
    {% endif %}
  </article>
</li>
