{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="cv-publication-item" itemscope itemtype="http://schema.org/CreativeWork">
  <article class="cv-publication-entry">
    <h3 class="cv-publication-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
        <a href="{{ post.url | relative_url }}" rel="permalink" class="cv-publication-permalink">
          <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
          <span class="sr-only">Permalink</span>
        </a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.citation %}
      <p class="cv-publication-citation" itemprop="description">{{ post.citation }}</p>
    {% elsif post.venue %}
      <p class="cv-publication-citation" itemprop="description">
        {{ post.venue }}{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
      </p>
    {% endif %}
  </article>
</li>
